<%= simple_form_for(@recipe, local: true) do |form| %>

  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%= form.input :title, placeholder: "Title", label: "Title", id: :recipe_title %>
  <%= form.input :description, placeholder: "Your description here!", label: "Description", id: :recipe_description  %>


  <br>
  <div class="form-group">
    <h3>Add Ingredients</h3>
    <%= form.nested_fields_for :ingredients do |ingredient| %>
      <%= ingredient.text_field :content %>
      <%= ingredient.remove_nested_fields_link "Delete", class: "btn btn-outline-dark btn-sm" %>
    <% end %>
    <%= form.add_nested_fields_link :ingredients %>
  </div>


 

  <br>
  <div class="form-group">
     <h3>Add Steps</h3>
      <%= form.nested_fields_for :steps do |step| %>

        <%= step.text_field :direction %>
        <%= step.remove_nested_fields_link "Delete", class: "btn btn-outline-dark btn-sm"%>
      <% end %>
      <%= form.add_nested_fields_link :steps %>
  </div>



  <br>
  <div class="form-group">
    <% if @recipe.image? %>
      <%= image_tag @recipe.image.url, class: "recipe-show" %>
      <br>
      <%= form.check_box :remove_image %>
       Remove Image
   <% end %>
   <br>
   <%= form.file_field :image %>
  </div>




  <div class="actions" style="text-align: center;">
    <%= form.button :submit, class: "btn btn-outline-dark" %>
  </div>

  <%= form.error :base %>

<%end%>

