<div class= "containter">
<p id="notice"><%= notice %></p>

<div style="padding-left: 6px">
<%= link_to 'Back', recipes_path, class: "btn btn-outline-dark" %>
<%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-outline-dark" %> 

</div>
<h1>
  <%= @recipe.title %>
</h1>
<h4>
	<%="By #{@recipe.user.username}"%>
</h4>
<br>
<div class="row">
	<div class="col" style="text-align: center;">
	<% if @recipe.image? %>
	<%= image_tag @recipe.image.url, class: "recipe-show" %>
	<% end %>

	<p>
	  <h4 style="color:#4B515D;">Description:</h4>
	  <%= @recipe.description %>
	</p>
</div>

<div class="col">
<h3>Ingredients</h3>
<ul>
<% for @ingredient in @recipe.ingredients %>
<li><%= @ingredient.content %></li>
<% end %>
</ul>

<h3>Steps</h3>
<ol>
<% for @step in @recipe.steps %>
<li><%= @step.direction %></li>
<% end %>
</ol>
</div>
</div>


</div>